=begin
#CityPay Payment API

# Welcome to the CityPay API, a robust HTTP API payment solution designed for seamless server-to-server  transactional processing. Our API facilitates a wide array of payment operations, catering to diverse business needs.  Whether you're integrating Internet payments, handling Mail Order/Telephone Order (MOTO) transactions, managing  Subscriptions with Recurring and Continuous Authority payments, or navigating the complexities of 3-D Secure  authentication, our API is equipped to support your requirements. Additionally, we offer functionalities for  Authorisation, Refunding, Pre-Authorisation, Cancellation/Voids, and Completion processing, alongside the capability  for tokenised payments.  ## Compliance and Security Overview <aside class=\"notice\">   Ensuring the security of payment transactions and compliance with industry standards is paramount. Our API is    designed with stringent security measures and compliance protocols to safeguard sensitive information and meet    the rigorous requirements of Visa, MasterCard, and the PCI Security Standards Council. </aside>  ### Key Compliance and Security Measures  * **TLS Encryption**: All data transmissions must utilise TLS version 1.2 or higher, employing [strong cryptography](#enabled-tls-ciphers). Our infrastructure strictly enforces this requirement to maintain the integrity and confidentiality of data in transit. We conduct regular scans and assessments of our TLS endpoints to identify and mitigate vulnerabilities. * **Data Storage Prohibitions**: Storing sensitive cardholder data (CHD), such as the card security code (CSC) or primary account number (PAN), is strictly prohibited. Our API is designed to minimize your exposure to sensitive data, thereby reducing your compliance burden. * **Data Masking**: For consumer protection and compliance, full card numbers must not be displayed on receipts or any customer-facing materials. Our API automatically masks PANs, displaying only the last four digits to facilitate safe receipt generation. * **Network Scans**: If your application is web-based, regular scans of your hosting environment are mandatory to identify and rectify potential vulnerabilities. This proactive measure is crucial for maintaining a secure and compliant online presence. * **PCI Compliance**: Adherence to PCI DSS standards is not optional; it's a requirement for operating securely and legally in the payments ecosystem. For detailed information on compliance requirements and resources, please visit the PCI Security Standards Council website [https://www.pcisecuritystandards.org/](https://www.pcisecuritystandards.org/). * **Request Validation**: Our API includes mechanisms to verify the legitimacy of each request, ensuring it pertains to a valid account and originates from a trusted source. We leverage remote IP address verification alongside sophisticated application firewall technologies to thwart a wide array of common security threats.  ## Getting Started Before integrating with the CityPay API, ensure your application and development practices align with the outlined compliance and security measures. This preparatory step is crucial for a smooth integration process and the long-term success of your payment processing operations.  For further details on API endpoints, request/response formats, and code examples, proceed to the subsequent sections of our documentation. Our aim is to provide you with all the necessary tools and information to integrate our payment processing capabilities seamlessly into your application.  Thank you for choosing CityPay API. We look forward to supporting your payment processing needs with our secure, compliant, and versatile API solution. 

Contact: support@citypay.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module CityPayApiClient
  class BatchProcessingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch Process Request
    # A batch process request is used to start the batch process workflow by uploading batch data and initialising a new batch for processing. Once validated the batch will be queued for processing and further updates can be received by a subsequent call to retrieve the batch status. 
    # @param process_batch_request [ProcessBatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ProcessBatchResponse]
    def batch_process_request(process_batch_request, opts = {})
      data, _status_code, _headers = batch_process_request_with_http_info(process_batch_request, opts)
      data
    end

    # Batch Process Request
    # A batch process request is used to start the batch process workflow by uploading batch data and initialising a new batch for processing. Once validated the batch will be queued for processing and further updates can be received by a subsequent call to retrieve the batch status. 
    # @param process_batch_request [ProcessBatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcessBatchResponse, Integer, Hash)>] ProcessBatchResponse data, response status code and response headers
    def batch_process_request_with_http_info(process_batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchProcessingApi.batch_process_request ...'
      end
      # verify the required parameter 'process_batch_request' is set
      if @api_client.config.client_side_validation && process_batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'process_batch_request' when calling BatchProcessingApi.batch_process_request"
      end
      # resource path
      local_var_path = '/v6/batch/process'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(process_batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ProcessBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"BatchProcessingApi.batch_process_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchProcessingApi#batch_process_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch Retrieve Request
    # Obtains a batch and installment (BIS) report for a given batch id.
    # @param batch_report_request [BatchReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchReportResponseModel]
    def batch_retrieve_request(batch_report_request, opts = {})
      data, _status_code, _headers = batch_retrieve_request_with_http_info(batch_report_request, opts)
      data
    end

    # Batch Retrieve Request
    # Obtains a batch and installment (BIS) report for a given batch id.
    # @param batch_report_request [BatchReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchReportResponseModel, Integer, Hash)>] BatchReportResponseModel data, response status code and response headers
    def batch_retrieve_request_with_http_info(batch_report_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchProcessingApi.batch_retrieve_request ...'
      end
      # verify the required parameter 'batch_report_request' is set
      if @api_client.config.client_side_validation && batch_report_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_report_request' when calling BatchProcessingApi.batch_retrieve_request"
      end
      # resource path
      local_var_path = '/v6/batch/retrieve'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_report_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchReportResponseModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"BatchProcessingApi.batch_retrieve_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchProcessingApi#batch_retrieve_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check Batch Status
    # The operation is used to retrieve the status of a batch process.
    # @param check_batch_status [CheckBatchStatus] 
    # @param [Hash] opts the optional parameters
    # @return [CheckBatchStatusResponse]
    def check_batch_status_request(check_batch_status, opts = {})
      data, _status_code, _headers = check_batch_status_request_with_http_info(check_batch_status, opts)
      data
    end

    # Check Batch Status
    # The operation is used to retrieve the status of a batch process.
    # @param check_batch_status [CheckBatchStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckBatchStatusResponse, Integer, Hash)>] CheckBatchStatusResponse data, response status code and response headers
    def check_batch_status_request_with_http_info(check_batch_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BatchProcessingApi.check_batch_status_request ...'
      end
      # verify the required parameter 'check_batch_status' is set
      if @api_client.config.client_side_validation && check_batch_status.nil?
        fail ArgumentError, "Missing the required parameter 'check_batch_status' when calling BatchProcessingApi.check_batch_status_request"
      end
      # resource path
      local_var_path = '/v6/batch/status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_batch_status)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckBatchStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"BatchProcessingApi.check_batch_status_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BatchProcessingApi#check_batch_status_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
