=begin
#CityPay Payment API

# Welcome to the CityPay API, a robust HTTP API payment solution designed for seamless server-to-server  transactional processing. Our API facilitates a wide array of payment operations, catering to diverse business needs.  Whether you're integrating Internet payments, handling Mail Order/Telephone Order (MOTO) transactions, managing  Subscriptions with Recurring and Continuous Authority payments, or navigating the complexities of 3-D Secure  authentication, our API is equipped to support your requirements. Additionally, we offer functionalities for  Authorisation, Refunding, Pre-Authorisation, Cancellation/Voids, and Completion processing, alongside the capability  for tokenised payments.  ## Compliance and Security Overview <aside class=\"notice\">   Ensuring the security of payment transactions and compliance with industry standards is paramount. Our API is    designed with stringent security measures and compliance protocols to safeguard sensitive information and meet    the rigorous requirements of Visa, MasterCard, and the PCI Security Standards Council. </aside>  ### Key Compliance and Security Measures  * **TLS Encryption**: All data transmissions must utilise TLS version 1.2 or higher, employing [strong cryptography](#enabled-tls-ciphers). Our infrastructure strictly enforces this requirement to maintain the integrity and confidentiality of data in transit. We conduct regular scans and assessments of our TLS endpoints to identify and mitigate vulnerabilities. * **Data Storage Prohibitions**: Storing sensitive cardholder data (CHD), such as the card security code (CSC) or primary account number (PAN), is strictly prohibited. Our API is designed to minimize your exposure to sensitive data, thereby reducing your compliance burden. * **Data Masking**: For consumer protection and compliance, full card numbers must not be displayed on receipts or any customer-facing materials. Our API automatically masks PANs, displaying only the last four digits to facilitate safe receipt generation. * **Network Scans**: If your application is web-based, regular scans of your hosting environment are mandatory to identify and rectify potential vulnerabilities. This proactive measure is crucial for maintaining a secure and compliant online presence. * **PCI Compliance**: Adherence to PCI DSS standards is not optional; it's a requirement for operating securely and legally in the payments ecosystem. For detailed information on compliance requirements and resources, please visit the PCI Security Standards Council website [https://www.pcisecuritystandards.org/](https://www.pcisecuritystandards.org/). * **Request Validation**: Our API includes mechanisms to verify the legitimacy of each request, ensuring it pertains to a valid account and originates from a trusted source. We leverage remote IP address verification alongside sophisticated application firewall technologies to thwart a wide array of common security threats.  ## Getting Started Before integrating with the CityPay API, ensure your application and development practices align with the outlined compliance and security measures. This preparatory step is crucial for a smooth integration process and the long-term success of your payment processing operations.  For further details on API endpoints, request/response formats, and code examples, proceed to the subsequent sections of our documentation. Our aim is to provide you with all the necessary tools and information to integrate our payment processing capabilities seamlessly into your application.  Thank you for choosing CityPay API. We look forward to supporting your payment processing needs with our secure, compliant, and versatile API solution. 

The version of the OpenAPI document: 6.9.9
Contact: support@citypay.com
Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module CityPayApiClient
  class PaymentIntentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a Payment Intent
    # This endpoint initiates the creation of a payment intent, which is a precursor to processing a payment. A payment intent captures the details of a prospective payment transaction, including the payment amount, currency, and associated billing and shipping information. 
    # @param payment_intent_request_model [PaymentIntentRequestModel] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentIntentReference]
    def create_payment_intent(payment_intent_request_model, opts = {})
      data, _status_code, _headers = create_payment_intent_with_http_info(payment_intent_request_model, opts)
      data
    end

    # Create a Payment Intent
    # This endpoint initiates the creation of a payment intent, which is a precursor to processing a payment. A payment intent captures the details of a prospective payment transaction, including the payment amount, currency, and associated billing and shipping information. 
    # @param payment_intent_request_model [PaymentIntentRequestModel] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentIntentReference, Integer, Hash)>] PaymentIntentReference data, response status code and response headers
    def create_payment_intent_with_http_info(payment_intent_request_model, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentApi.create_payment_intent ...'
      end
      # verify the required parameter 'payment_intent_request_model' is set
      if @api_client.config.client_side_validation && payment_intent_request_model.nil?
        fail ArgumentError, "Missing the required parameter 'payment_intent_request_model' when calling PaymentIntentApi.create_payment_intent"
      end
      # resource path
      local_var_path = '/v6/intent/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_intent_request_model)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentReference'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"PaymentIntentApi.create_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentApi#create_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves a Payment Intent
    # Obtains a payment intent.
    # @param find_payment_intent_request [FindPaymentIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PaymentIntentResponseModel]
    def get_payment_intent(find_payment_intent_request, opts = {})
      data, _status_code, _headers = get_payment_intent_with_http_info(find_payment_intent_request, opts)
      data
    end

    # Retrieves a Payment Intent
    # Obtains a payment intent.
    # @param find_payment_intent_request [FindPaymentIntentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentIntentResponseModel, Integer, Hash)>] PaymentIntentResponseModel data, response status code and response headers
    def get_payment_intent_with_http_info(find_payment_intent_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentIntentApi.get_payment_intent ...'
      end
      # verify the required parameter 'find_payment_intent_request' is set
      if @api_client.config.client_side_validation && find_payment_intent_request.nil?
        fail ArgumentError, "Missing the required parameter 'find_payment_intent_request' when calling PaymentIntentApi.get_payment_intent"
      end
      # resource path
      local_var_path = '/v6/intent/retrieve'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(find_payment_intent_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntentResponseModel'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"PaymentIntentApi.get_payment_intent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentIntentApi#get_payment_intent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
