=begin
#CityPay Payment API

# Welcome to the CityPay API, a robust HTTP API payment solution designed for seamless server-to-server  transactional processing. Our API facilitates a wide array of payment operations, catering to diverse business needs.  Whether you're integrating Internet payments, handling Mail Order/Telephone Order (MOTO) transactions, managing  Subscriptions with Recurring and Continuous Authority payments, or navigating the complexities of 3-D Secure  authentication, our API is equipped to support your requirements. Additionally, we offer functionalities for  Authorisation, Refunding, Pre-Authorisation, Cancellation/Voids, and Completion processing, alongside the capability  for tokenised payments.  ## Compliance and Security Overview <aside class=\"notice\">   Ensuring the security of payment transactions and compliance with industry standards is paramount. Our API is    designed with stringent security measures and compliance protocols to safeguard sensitive information and meet    the rigorous requirements of Visa, MasterCard, and the PCI Security Standards Council. </aside>  ### Key Compliance and Security Measures  * **TLS Encryption**: All data transmissions must utilise TLS version 1.2 or higher, employing [strong cryptography](#enabled-tls-ciphers). Our infrastructure strictly enforces this requirement to maintain the integrity and confidentiality of data in transit. We conduct regular scans and assessments of our TLS endpoints to identify and mitigate vulnerabilities. * **Data Storage Prohibitions**: Storing sensitive cardholder data (CHD), such as the card security code (CSC) or primary account number (PAN), is strictly prohibited. Our API is designed to minimize your exposure to sensitive data, thereby reducing your compliance burden. * **Data Masking**: For consumer protection and compliance, full card numbers must not be displayed on receipts or any customer-facing materials. Our API automatically masks PANs, displaying only the last four digits to facilitate safe receipt generation. * **Network Scans**: If your application is web-based, regular scans of your hosting environment are mandatory to identify and rectify potential vulnerabilities. This proactive measure is crucial for maintaining a secure and compliant online presence. * **PCI Compliance**: Adherence to PCI DSS standards is not optional; it's a requirement for operating securely and legally in the payments ecosystem. For detailed information on compliance requirements and resources, please visit the PCI Security Standards Council website [https://www.pcisecuritystandards.org/](https://www.pcisecuritystandards.org/). * **Request Validation**: Our API includes mechanisms to verify the legitimacy of each request, ensuring it pertains to a valid account and originates from a trusted source. We leverage remote IP address verification alongside sophisticated application firewall technologies to thwart a wide array of common security threats.  ## Getting Started Before integrating with the CityPay API, ensure your application and development practices align with the outlined compliance and security measures. This preparatory step is crucial for a smooth integration process and the long-term success of your payment processing operations.  For further details on API endpoints, request/response formats, and code examples, proceed to the subsequent sections of our documentation. Our aim is to provide you with all the necessary tools and information to integrate our payment processing capabilities seamlessly into your application.  Thank you for choosing CityPay API. We look forward to supporting your payment processing needs with our secure, compliant, and versatile API solution. 

Contact: support@citypay.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.2.0

=end

require 'cgi'

module CityPayApiClient
  class ReportingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch Transaction Report Request
    # Retrieves transactions available on a given batch.
    # @param merchantid [Integer] A merchant ID (MID) for which data is requested. This field allows for filtering of the request by a specific merchant account.
    # @param batch_no [String] The batch number that is being requested.
    # @param batch_transaction_report_request [BatchTransactionReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchTransactionReportResponse]
    def batched_transaction_report_request(merchantid, batch_no, batch_transaction_report_request, opts = {})
      data, _status_code, _headers = batched_transaction_report_request_with_http_info(merchantid, batch_no, batch_transaction_report_request, opts)
      data
    end

    # Batch Transaction Report Request
    # Retrieves transactions available on a given batch.
    # @param merchantid [Integer] A merchant ID (MID) for which data is requested. This field allows for filtering of the request by a specific merchant account.
    # @param batch_no [String] The batch number that is being requested.
    # @param batch_transaction_report_request [BatchTransactionReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchTransactionReportResponse, Integer, Hash)>] BatchTransactionReportResponse data, response status code and response headers
    def batched_transaction_report_request_with_http_info(merchantid, batch_no, batch_transaction_report_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.batched_transaction_report_request ...'
      end
      # verify the required parameter 'merchantid' is set
      if @api_client.config.client_side_validation && merchantid.nil?
        fail ArgumentError, "Missing the required parameter 'merchantid' when calling ReportingApi.batched_transaction_report_request"
      end
      # verify the required parameter 'batch_no' is set
      if @api_client.config.client_side_validation && batch_no.nil?
        fail ArgumentError, "Missing the required parameter 'batch_no' when calling ReportingApi.batched_transaction_report_request"
      end
      # verify the required parameter 'batch_transaction_report_request' is set
      if @api_client.config.client_side_validation && batch_transaction_report_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_transaction_report_request' when calling ReportingApi.batched_transaction_report_request"
      end
      # resource path
      local_var_path = '/v6/merchant-batch/{merchantid}/{batch_no}/transactions'.sub('{' + 'merchantid' + '}', CGI.escape(merchantid.to_s)).sub('{' + 'batch_no' + '}', CGI.escape(batch_no.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_transaction_report_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchTransactionReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"ReportingApi.batched_transaction_report_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#batched_transaction_report_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merchant Batch Report Request
    # Retrieves a report of merchant batches within a specified date range.  Batches, which aggregate daily processing activities, are typically generated at `00:00` each day.  These batches play a crucial role in the settlement of funds by summarising daily transactions. 
    # @param merchant_batch_report_request [MerchantBatchReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MerchantBatchReportResponse]
    def merchant_batch_report_request(merchant_batch_report_request, opts = {})
      data, _status_code, _headers = merchant_batch_report_request_with_http_info(merchant_batch_report_request, opts)
      data
    end

    # Merchant Batch Report Request
    # Retrieves a report of merchant batches within a specified date range.  Batches, which aggregate daily processing activities, are typically generated at &#x60;00:00&#x60; each day.  These batches play a crucial role in the settlement of funds by summarising daily transactions. 
    # @param merchant_batch_report_request [MerchantBatchReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantBatchReportResponse, Integer, Hash)>] MerchantBatchReportResponse data, response status code and response headers
    def merchant_batch_report_request_with_http_info(merchant_batch_report_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.merchant_batch_report_request ...'
      end
      # verify the required parameter 'merchant_batch_report_request' is set
      if @api_client.config.client_side_validation && merchant_batch_report_request.nil?
        fail ArgumentError, "Missing the required parameter 'merchant_batch_report_request' when calling ReportingApi.merchant_batch_report_request"
      end
      # resource path
      local_var_path = '/v6/merchant-batch/report'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(merchant_batch_report_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantBatchReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"ReportingApi.merchant_batch_report_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#merchant_batch_report_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Merchant Batch Request
    # Retrieves a report of merchant a merchant batch for a specified batch number.
    # @param merchantid [Integer] A merchant ID (MID) for which data is requested. This field allows for filtering of the request by a specific merchant account.
    # @param batch_no [String] The batch number that is being requested.
    # @param [Hash] opts the optional parameters
    # @return [MerchantBatchResponse]
    def merchant_batch_request(merchantid, batch_no, opts = {})
      data, _status_code, _headers = merchant_batch_request_with_http_info(merchantid, batch_no, opts)
      data
    end

    # Merchant Batch Request
    # Retrieves a report of merchant a merchant batch for a specified batch number.
    # @param merchantid [Integer] A merchant ID (MID) for which data is requested. This field allows for filtering of the request by a specific merchant account.
    # @param batch_no [String] The batch number that is being requested.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MerchantBatchResponse, Integer, Hash)>] MerchantBatchResponse data, response status code and response headers
    def merchant_batch_request_with_http_info(merchantid, batch_no, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.merchant_batch_request ...'
      end
      # verify the required parameter 'merchantid' is set
      if @api_client.config.client_side_validation && merchantid.nil?
        fail ArgumentError, "Missing the required parameter 'merchantid' when calling ReportingApi.merchant_batch_request"
      end
      # verify the required parameter 'batch_no' is set
      if @api_client.config.client_side_validation && batch_no.nil?
        fail ArgumentError, "Missing the required parameter 'batch_no' when calling ReportingApi.merchant_batch_request"
      end
      # resource path
      local_var_path = '/v6/merchant-batch/{merchantid}/{batch_no}'.sub('{' + 'merchantid' + '}', CGI.escape(merchantid.to_s)).sub('{' + 'batch_no' + '}', CGI.escape(batch_no.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MerchantBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"ReportingApi.merchant_batch_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#merchant_batch_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remittance Report Request
    # Fetches remittance reports for financial transactions within a specified date range, covering all client-related activities. This report consolidates all batches disbursed to a client, with each remittance summarising the aggregation of batches leading up to settlement. Additionally, the net remittance amount presented in the final settlement will reflect any deductions made by the acquirer. 
    # @param clientid [String] A client Id for which data is requested.
    # @param remittance_report_request [RemittanceReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RemittanceReportResponse]
    def remittance_range_report(clientid, remittance_report_request, opts = {})
      data, _status_code, _headers = remittance_range_report_with_http_info(clientid, remittance_report_request, opts)
      data
    end

    # Remittance Report Request
    # Fetches remittance reports for financial transactions within a specified date range, covering all client-related activities. This report consolidates all batches disbursed to a client, with each remittance summarising the aggregation of batches leading up to settlement. Additionally, the net remittance amount presented in the final settlement will reflect any deductions made by the acquirer. 
    # @param clientid [String] A client Id for which data is requested.
    # @param remittance_report_request [RemittanceReportRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemittanceReportResponse, Integer, Hash)>] RemittanceReportResponse data, response status code and response headers
    def remittance_range_report_with_http_info(clientid, remittance_report_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.remittance_range_report ...'
      end
      # verify the required parameter 'clientid' is set
      if @api_client.config.client_side_validation && clientid.nil?
        fail ArgumentError, "Missing the required parameter 'clientid' when calling ReportingApi.remittance_range_report"
      end
      # verify the required parameter 'remittance_report_request' is set
      if @api_client.config.client_side_validation && remittance_report_request.nil?
        fail ArgumentError, "Missing the required parameter 'remittance_report_request' when calling ReportingApi.remittance_range_report"
      end
      # resource path
      local_var_path = '/v6/remittance/report/{clientid}'.sub('{' + 'clientid' + '}', CGI.escape(clientid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remittance_report_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RemittanceReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"ReportingApi.remittance_range_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#remittance_range_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remittance Date Report Request
    # Fetches remittance reports for financial transactions for a given date,  covering all client-related activities. This report consolidates all batches disbursed to a  client, with each remittance summarising the aggregation of batches leading up to settlement.  Additionally, the net remittance amount presented in the final settlement will reflect any  deductions made by the acquirer.  The process also supports the notion of *today* deferring the date to today's date or *latest* reflecting the latest remittance date available. 
    # @param clientid [String] A client Id for which data is requested.
    # @param date [String] Date (YYYY-MM-DD) to filter the request for.
    # @param [Hash] opts the optional parameters
    # @return [RemittedClientData]
    def remittance_report_request(clientid, date, opts = {})
      data, _status_code, _headers = remittance_report_request_with_http_info(clientid, date, opts)
      data
    end

    # Remittance Date Report Request
    # Fetches remittance reports for financial transactions for a given date,  covering all client-related activities. This report consolidates all batches disbursed to a  client, with each remittance summarising the aggregation of batches leading up to settlement.  Additionally, the net remittance amount presented in the final settlement will reflect any  deductions made by the acquirer.  The process also supports the notion of *today* deferring the date to today&#39;s date or *latest* reflecting the latest remittance date available. 
    # @param clientid [String] A client Id for which data is requested.
    # @param date [String] Date (YYYY-MM-DD) to filter the request for.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemittedClientData, Integer, Hash)>] RemittedClientData data, response status code and response headers
    def remittance_report_request_with_http_info(clientid, date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.remittance_report_request ...'
      end
      # verify the required parameter 'clientid' is set
      if @api_client.config.client_side_validation && clientid.nil?
        fail ArgumentError, "Missing the required parameter 'clientid' when calling ReportingApi.remittance_report_request"
      end
      # verify the required parameter 'date' is set
      if @api_client.config.client_side_validation && date.nil?
        fail ArgumentError, "Missing the required parameter 'date' when calling ReportingApi.remittance_report_request"
      end
      # resource path
      local_var_path = '/v6/remittance/report/{clientid}/{date}'.sub('{' + 'clientid' + '}', CGI.escape(clientid.to_s)).sub('{' + 'date' + '}', CGI.escape(date.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RemittedClientData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"ReportingApi.remittance_report_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#remittance_report_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
