=begin
#CityPay Payment API

# Welcome to the CityPay API, a robust HTTP API payment solution designed for seamless server-to-server  transactional processing. Our API facilitates a wide array of payment operations, catering to diverse business needs.  Whether you're integrating Internet payments, handling Mail Order/Telephone Order (MOTO) transactions, managing  Subscriptions with Recurring and Continuous Authority payments, or navigating the complexities of 3-D Secure  authentication, our API is equipped to support your requirements. Additionally, we offer functionalities for  Authorisation, Refunding, Pre-Authorisation, Cancellation/Voids, and Completion processing, alongside the capability  for tokenised payments.  ## Compliance and Security Overview <aside class=\"notice\">   Ensuring the security of payment transactions and compliance with industry standards is paramount. Our API is    designed with stringent security measures and compliance protocols to safeguard sensitive information and meet    the rigorous requirements of Visa, MasterCard, and the PCI Security Standards Council. </aside>  ### Key Compliance and Security Measures  * **TLS Encryption**: All data transmissions must utilise TLS version 1.2 or higher, employing [strong cryptography](#enabled-tls-ciphers). Our infrastructure strictly enforces this requirement to maintain the integrity and confidentiality of data in transit. We conduct regular scans and assessments of our TLS endpoints to identify and mitigate vulnerabilities. * **Data Storage Prohibitions**: Storing sensitive cardholder data (CHD), such as the card security code (CSC) or primary account number (PAN), is strictly prohibited. Our API is designed to minimize your exposure to sensitive data, thereby reducing your compliance burden. * **Data Masking**: For consumer protection and compliance, full card numbers must not be displayed on receipts or any customer-facing materials. Our API automatically masks PANs, displaying only the last four digits to facilitate safe receipt generation. * **Network Scans**: If your application is web-based, regular scans of your hosting environment are mandatory to identify and rectify potential vulnerabilities. This proactive measure is crucial for maintaining a secure and compliant online presence. * **PCI Compliance**: Adherence to PCI DSS standards is not optional; it's a requirement for operating securely and legally in the payments ecosystem. For detailed information on compliance requirements and resources, please visit the PCI Security Standards Council website [https://www.pcisecuritystandards.org/](https://www.pcisecuritystandards.org/). * **Request Validation**: Our API includes mechanisms to verify the legitimacy of each request, ensuring it pertains to a valid account and originates from a trusted source. We leverage remote IP address verification alongside sophisticated application firewall technologies to thwart a wide array of common security threats.  ## Getting Started Before integrating with the CityPay API, ensure your application and development practices align with the outlined compliance and security measures. This preparatory step is crucial for a smooth integration process and the long-term success of your payment processing operations.  For further details on API endpoints, request/response formats, and code examples, proceed to the subsequent sections of our documentation. Our aim is to provide you with all the necessary tools and information to integrate our payment processing capabilities seamlessly into your application.  Thank you for choosing CityPay API. We look forward to supporting your payment processing needs with our secure, compliant, and versatile API solution. 

The version of the OpenAPI document: 6.9.9
Contact: support@citypay.com
Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require 'cgi'

module CityPayApiClient
  class WebHooks
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Web Hook Channel Create Request
    # A WebHookChannel is required to establish a connection with our event notification system. The channel serves as the communication link between your application and the events generated by the payment gateway. When you register a WebHookChannel, you're defining the endpoint where we will deliver notifications, such as payment events.  The WebHookChannel encapsulates important configuration details like the endpoint type (e.g., HTTP), the client ID, and security parameters. However, the channel itself does not specify which events will be sent but should be considered as the pipeline for receiving those events. After registering a channel, you can then configure triggers separately using a subscription request to define which specific payment events should flow through this channel. 
    # @param web_hook_channel_create_request [WebHookChannelCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebHookChannelCreateResponse]
    def web_hook_channel_create_request(web_hook_channel_create_request, opts = {})
      data, _status_code, _headers = web_hook_channel_create_request_with_http_info(web_hook_channel_create_request, opts)
      data
    end

    # Web Hook Channel Create Request
    # A WebHookChannel is required to establish a connection with our event notification system. The channel serves as the communication link between your application and the events generated by the payment gateway. When you register a WebHookChannel, you&#39;re defining the endpoint where we will deliver notifications, such as payment events.  The WebHookChannel encapsulates important configuration details like the endpoint type (e.g., HTTP), the client ID, and security parameters. However, the channel itself does not specify which events will be sent but should be considered as the pipeline for receiving those events. After registering a channel, you can then configure triggers separately using a subscription request to define which specific payment events should flow through this channel. 
    # @param web_hook_channel_create_request [WebHookChannelCreateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebHookChannelCreateResponse, Integer, Hash)>] WebHookChannelCreateResponse data, response status code and response headers
    def web_hook_channel_create_request_with_http_info(web_hook_channel_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebHooks.web_hook_channel_create_request ...'
      end
      # verify the required parameter 'web_hook_channel_create_request' is set
      if @api_client.config.client_side_validation && web_hook_channel_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'web_hook_channel_create_request' when calling WebHooks.web_hook_channel_create_request"
      end
      # resource path
      local_var_path = '/hooks/channel/create'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_hook_channel_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebHookChannelCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"WebHooks.web_hook_channel_create_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebHooks#web_hook_channel_create_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Web Hook Channel Delete Request
    # The WebHookChannelDeleteRequest allows you to remove an existing WebHookChannel from the event notification system.  By specifying the channel ID, you can deactivate the communication link between your application and the payment  gateway’s event system. Deleting a channel effectively halts any further notifications being sent to the associated  endpoint, ensuring that no additional events are processed through that channel. 
    # @param web_hook_channel_delete_request [WebHookChannelDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Acknowledgement]
    def web_hook_channel_delete_request(web_hook_channel_delete_request, opts = {})
      data, _status_code, _headers = web_hook_channel_delete_request_with_http_info(web_hook_channel_delete_request, opts)
      data
    end

    # Web Hook Channel Delete Request
    # The WebHookChannelDeleteRequest allows you to remove an existing WebHookChannel from the event notification system.  By specifying the channel ID, you can deactivate the communication link between your application and the payment  gateway’s event system. Deleting a channel effectively halts any further notifications being sent to the associated  endpoint, ensuring that no additional events are processed through that channel. 
    # @param web_hook_channel_delete_request [WebHookChannelDeleteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Acknowledgement, Integer, Hash)>] Acknowledgement data, response status code and response headers
    def web_hook_channel_delete_request_with_http_info(web_hook_channel_delete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebHooks.web_hook_channel_delete_request ...'
      end
      # verify the required parameter 'web_hook_channel_delete_request' is set
      if @api_client.config.client_side_validation && web_hook_channel_delete_request.nil?
        fail ArgumentError, "Missing the required parameter 'web_hook_channel_delete_request' when calling WebHooks.web_hook_channel_delete_request"
      end
      # resource path
      local_var_path = '/hooks/channel/delete'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_hook_channel_delete_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Acknowledgement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"WebHooks.web_hook_channel_delete_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebHooks#web_hook_channel_delete_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Web Hook Subscription Request
    # The WebHookSubscriptionRequest is used to define and activate event triggers for an existing WebHookChannel. This  request specifies the events or conditions that your application wants to be notified about, ensuring that only  relevant event data flows through the channel. 
    # @param web_hook_subscription_request [WebHookSubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebHookSubscriptionResponse]
    def web_hook_subscription_request(web_hook_subscription_request, opts = {})
      data, _status_code, _headers = web_hook_subscription_request_with_http_info(web_hook_subscription_request, opts)
      data
    end

    # Web Hook Subscription Request
    # The WebHookSubscriptionRequest is used to define and activate event triggers for an existing WebHookChannel. This  request specifies the events or conditions that your application wants to be notified about, ensuring that only  relevant event data flows through the channel. 
    # @param web_hook_subscription_request [WebHookSubscriptionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebHookSubscriptionResponse, Integer, Hash)>] WebHookSubscriptionResponse data, response status code and response headers
    def web_hook_subscription_request_with_http_info(web_hook_subscription_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebHooks.web_hook_subscription_request ...'
      end
      # verify the required parameter 'web_hook_subscription_request' is set
      if @api_client.config.client_side_validation && web_hook_subscription_request.nil?
        fail ArgumentError, "Missing the required parameter 'web_hook_subscription_request' when calling WebHooks.web_hook_subscription_request"
      end
      # resource path
      local_var_path = '/hooks/subscribe'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_hook_subscription_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebHookSubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"WebHooks.web_hook_subscription_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebHooks#web_hook_subscription_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Web Hook Unsubscribe Request
    # The WebHookUnsubscribeRequest is used to remove an existing webhook subscription from the system. This allows clients  to stop receiving event notifications for specific webhook subscriptions that are no longer needed. 
    # @param web_hook_unsubscribe_request [WebHookUnsubscribeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Acknowledgement]
    def web_hook_unsubscribe_request(web_hook_unsubscribe_request, opts = {})
      data, _status_code, _headers = web_hook_unsubscribe_request_with_http_info(web_hook_unsubscribe_request, opts)
      data
    end

    # Web Hook Unsubscribe Request
    # The WebHookUnsubscribeRequest is used to remove an existing webhook subscription from the system. This allows clients  to stop receiving event notifications for specific webhook subscriptions that are no longer needed. 
    # @param web_hook_unsubscribe_request [WebHookUnsubscribeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Acknowledgement, Integer, Hash)>] Acknowledgement data, response status code and response headers
    def web_hook_unsubscribe_request_with_http_info(web_hook_unsubscribe_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebHooks.web_hook_unsubscribe_request ...'
      end
      # verify the required parameter 'web_hook_unsubscribe_request' is set
      if @api_client.config.client_side_validation && web_hook_unsubscribe_request.nil?
        fail ArgumentError, "Missing the required parameter 'web_hook_unsubscribe_request' when calling WebHooks.web_hook_unsubscribe_request"
      end
      # resource path
      local_var_path = '/hooks/unsubscribe'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/xml']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'text/xml'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_hook_unsubscribe_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Acknowledgement'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['cp-api-key']

      new_options = opts.merge(
        :operation => :"WebHooks.web_hook_unsubscribe_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebHooks#web_hook_unsubscribe_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
